<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    body {
        font-family: "Times New Roman", Georgia, Serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
</style>

<body>


    <!-- Menu Section -->
    <div class="w3-row w3-padding-64" id="menu">
        <div class="w3-col l6 w3-padding-large">
            <h1 class="w3-center">Tipos de Soldadura</h1><br>
            <h4>Soldadura en Acero inoxidable, en tanques, tuberías(T, ANGULOS, VALVULAS)</h4>
            <p class="w3-text-grey">La técnica TIG resulta uno de los procedimientos más adecuados para soldar el acero inoxidable. El arco eléctrico se establece entre un electrodo de tungsteno y el metal base, bajo una atmósfera protectora generada por un gas inerte. El gas
                inerte que se usa normalmente es el argón.</p><br>

            <h4>Soldadura Hierro colado</h4>
            <p class="w3-text-grey">Soldando. Para reparar rasgaduras o rajaduras; adhiere una pieza de fierro colado, esta servirá como un parche en el lugar donde está la abertura; haciendo que el desperfecto no se note. Ahora bien, usando varillas de soldar de unos dos centímetros
                y medio de largo, acomoda los parches en sus respectivas posiciones.</p><br>

            <h4>Estructuras industriales (paileria) de cualquier metal, ya sea reparación, reconstrucción, producción o maquila.</h4>
            <p class="w3-text-grey">Soldadura con gas metal activo (MAG - "Metal-active gas welding"), proceso 135. Soldadura MAG. La soldadura MAG con electrodo de alambre macizo es el proceso controlado manualmente más utilizado para trabajos en la fabricación en planta; a
                veces se la conoce como soldadura semiautomática o con CO 2.</p><br>

            <h4>Engranes</h4>
            <p class="w3-text-grey">Es un tipo de soldadura heterogénea, es decir, los materiales a soldar pueden ser de la misma o distinta naturaleza, se caracteriza por la utilización de un tipo de material de bajo punto de fusión, por debajo de los 400ºC, normalmente emplea
                el estaño, cuya fusión se produce entre los 200ºC.</p><br>

            <h4>Maquinas industriales de cualquier giro y tamaño</h4>
            <p class="w3-text-grey">Los que más sugerimos son los TEC 200 y TEC 160. Metalworks es de las mejores marcas para este tipo de equipos. Trabaja con arco eléctrico, es decir, aquel tipo de soldadura que genera el calor para fundir los metales a través de un arco eléctrico
                entre un consumible –electrodo recubierto- y la pieza a soldar.</p>
        </div>

        <div class="w3-col l6 w3-padding-large">

        </div>
    </div>
</body>

</html>
